
@{
    ViewBag.Title = "Completed";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Siparişiniz Tamamlandı.</h2>
            <h4>Ürünleriniz kargoya en kısa zamanda verilecektir.</h4>
        </div>
    </div>
</div>


