@using urunKatalog.MvcWebUI.Models
@model urunKatalog.MvcWebUI.Models.Cart


<style>

    #cart {
        color: white;
        text-decoration: none;
    }
</style>

<ul class="navbar-nav  my-2 my-lg-0">
    <li class="nav-item" id="cart">
        <a class="nav-link" href="/Cart">
            <i class="fa
           fa-shopping-cart"></i>
            (@Model.CartLines.Count)
        </a>
    </li>
</ul>
